*{
    margin: 0%;
    padding: 0%;
    background-color: blueviolet;
}

img{
    height: 500px;
    height: 500px;
    width: 600px;
    float: left;
    margin-left: 50px;
    padding-top: 10px;
    border: 3px solid brown;
}

.text{
    margin-right: 50px;
    margin-left: 0%;
    float: right;
}

.text h1{
    font-size: 45px;
    font-family: Arial;
}

.text p{
    font-size: 25px;
    margin-right: 5px;
    text-decoration: solid;
    padding-right: 10px;
    margin: 10px;
    margin-block-end: 5px;
}
